<!-- TODO: Add a footer -->
 <footer class="divider-footer ph3 pv4" style="color: rgba(117, 117, 117, 1);">

	<div class="mw7 center pt3">
		<h2 class="sectionTitle">What is compromisedrunning.com</h2>
		<div class="center mb4">
			<p style="font-size: 12px; margin-bottom: 4rem;">
				Compromised Running is a site for Hyrox & Running info. We write articles on Hyrox tips, strategies, training, gear & more.
			</p>
		</div>

		<div class="center mb4">
			<p style="font-size: 12px;">
			All content and information on compromisedrunning.com is for informational and educational purposes only, and does not consitute medical advice. 
			Although we strive to provide accurate information, the information presented here is not a substitute for any type of professsional medical advice, nor should one solely rely on such information.
			</p>
		</div>

		<div class="flex-ns justify-between">
			<div>
				<ul class="mb3" style="font-size: 12px; display: inline-block;">
					<li><a href="/contribute/" class="link">Contribute</a></li>
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/privacy" class="link">Privacy</a></li>
					<li><a href="/about" class="link">About</a></li>
					<li><a href="/contact" class="link">Contact Us</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f6 b lh-title mb2">Follow</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/compromisedrunning" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>

	</div>
</footer>