<div class="pv5 pv5-l ph5 bg-center cover" style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
          <div class="main-banner-text-wrapper">
            <span>
              <h3 class="main-banner-text">{{ .description }}</h3>
            </span>
          </div>
          <div class="main-enter-button-container"><span><button class="main-enter-button">Feed me!</button></span></div>

        </h1>
      </div>
    </div>
  </div>
</div>
