{{ if gt .Paginator.TotalPages 1 }}
<div class="center">
    <nav class="ph5 pb5 mw7">
        <div class="pagination">
        {{ if .Paginator.HasPrev }}
            <tag-element huge name="&larr; Previous" href="{{ .Paginator.Prev.URL }}"></tag-element>
        {{ end }}
        </div>
        <div class="pagination">
            {{ if .Paginator.HasNext }}
            <tag-element huge name="Next &rarr;" href="{{ .Paginator.Next.URL }}"></tag-element>
            {{ end }}
        </div>
    </nav>
</div> 

{{ end }}