{{ define "main" }}

<div class="mw7 center">

  <div class="b lh-title mb2 mt5" style="cursor: pointer;">
    <img src="/img/main-latest-stories.svg" alt="" style="width: 240px" onclick="window.location.href='/post'" >
  </div>
  

  <ul id="blog-list" class="flex-ns flex-wrap mhn1-ns pa3" style="border-top: 1px solid var(--black);">
      {{ range (.Paginator 1).Pages.ByPublishDate.Reverse }}
          <li class="w-50-ns ph1-ns flex">
            {{ .Render "li"}}
          </li>
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>

{{end}}
