{{ define "main" }}

{{ replace .TableOfContents `href="#` (printf `href="%s#` .Permalink) | safeHTML }}

{{ $items_hyrox_must_reads := slice }}
{{ range (where (where .Site.RegularPages.ByWeight "Type" "post" ) "Draft" false ) }}

  {{ if in .Params.tags "Must Reads"   }}
    {{ $date := .Date.Format "Mon, Jan 2, 2006"  }}
    {{ $items_hyrox_must_reads = $items_hyrox_must_reads | append (dict "name" .Title "href" .RelPermalink "content" .Plain "date" $date "tags" .Params.tags "image" .Params.image)  }}
  {{ end }}

{{ end }}

<div id="morePosts">

  <div slot="second">
    More from {{ delimit .Params.tags ", " }}
    {{ range first 5 $items_hyrox_must_reads }}
        <simple-mini-card-element hideDate hideTags theme="minimal-small" item={{ . | jsonify }}></simple-mini-card-element>
    {{ end }}
    <tag-element name="more" href="/discover/must-reads"></tag-element>
  </div>

</div>

<div class="mw7 center ph3 pv4" >
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p>Read in {{ .ReadingTime }} minutes</p>
    </div>
    <div class="flex justify-between grey-3">
      <p>
        {{ range .Params.tags }}
          <tag-element hoverColour="black" name="{{.}}"></tag-element>
			{{ end }}
      </p>
      
    </div>
    <div class="cms mw7" style="font-size: 20px;">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
    <!-- horizontal divider -->
    <div style="display: block; flex-direction: column;  padding-bottom: 24px; border-bottom: 1px solid rgb(230, 230, 230); margin: 1rem; margin-bottom: 3rem; margin-top: 8rem;"></div>
    {{ template "_internal/disqus.html" . }}
  </div>
  <script type="module" src="/js/my-element.bundled.js"></script>
  

{{ end }}
