{{ define "main" }}
{{ replace .TableOfContents `href="#` (printf `href="%s#` .Permalink) | safeHTML }}

<div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p>Read in {{ .ReadingTime }} minutes</p>
    </div>
    <div class="flex justify-between grey-3">
      <p>
        {{ range .Params.tags }}
          <tag-element hoverColour="black" name="{{.}}"></tag-element>
			{{ end }}
      </p>
    </div>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
    <!-- horizontal divider -->
    <div style="display: block; flex-direction: column; padding-bottom: 24px; border-bottom: 1px solid rgb(230, 230, 230); margin: 1rem; margin-bottom: 3rem;"></div>
    {{ template "_internal/disqus.html" . }}
  </div>
  <script type="module" src="/js/my-element.bundled.js"></script>
  

{{ end }}
