{{ define "main" }}

<!-- <h1>Nothing Here...</h1>
<h3><a href="{{ "/" | relURL }}">Go Home</a></h3> -->
<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">
        <div class="ph1-ns pt3-m flex center">
            <span class="ph3 mw7 center no-underline pa3  br1 mb2 mt2 db raise w-100">
                <!-- <img src="/img/skull-grey.svg" alt="" width="200px" style="display: block; margin-left: auto;margin-right: auto;"></img> -->
                <div style="font-size: 16px; color: var(--grey-4); margin-left: auto;margin-right: auto; display: table;">
                    <!-- <p style="color: var(--grey-4); margin-left: auto;margin-right: auto; display: table; line-height: 10px;">404</p> -->
                    <span style="color: var(--grey-4); margin-left: auto;margin-right: auto; display: table; line-height: 20px; margin-top: 3rem; margin-bottom: 3rem;">Page Not Found</span>
                    <span style="margin: 0.1rem;">
                        <div class="button-container"><span><button onclick="window.location.href='/'" class="button" style="background-color: var(--grey-4);">&larr; Back to Home</button></span></div>
                        <a href="{{ "/" | relURL }}" style="color: var(--grey-4); margin-left: auto;margin-right: auto; display: table;">
                        </a></span>
                </div>
            </span>
        </div>
    </div>
</div>

{{ end }}
